body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table .thead-light tr th {
  text-align: center;
  width: 40px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #F3F3F3;
}

.flexbox {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
}

.flexbox .board {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 100%;
  font-size: .80em;
  color: blue;
  text-align: center;
  background-color: #d8e1fa;
  padding: 15px;
  margin: 15px;

}

.flexbox .board .card {
  padding: 15px 25px;
  background-color: #F3F3F3;
  cursor: pointer;
  margin-bottom: 15px;
}

.flexbox .board .card ul li {
  color: blue;
  width: 10%;
  padding: 0;
  margin: 0;
}


.box {
  left: 200px;
  top: 200px;
  width: 150px;
  height: 150px;
  box-shadow: inset 0 0 20px
}

#containment-wrapper {
  width: 300px;
  height: 300px;
}


#list {
  list-style-type: none;
  display: inline-flex;
  margin: 0;
  font-size: 90%;
  padding: 0;

}

#list li {
  color: blue;
  width: 20%;
  padding: 0;
  margin: 0;
}
